
<div class="btn-group col-3">
<a type="button" class="btn bg-gradient-info" asp-action="Edit" asp-route-id=@ViewBag.routeId>Edit</a>
<!-- <a type="button" class="btn bg-gradient-info" asp-action="Details" asp-route-id=@ViewBag.routeId>Details</a>  -->
<a type="button" class="btn bg-gradient-danger" asp-action="Delete" asp-route-id=@ViewBag.routeId>Delete</a>
</div>
