@model Rent

@{
    ViewData["Title"] = "Create";
}

@section StyleSheet {
<link rel="stylesheet" href="../../plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="../../plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
}

@section DataPicker {
<link rel="stylesheet" href="../../plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
<link rel="stylesheet" href="../../plugins/daterangepicker/daterangepicker.css">
}

@await Component.InvokeAsync("Form", new {formType = "DivCardHead", thisModel = "Rent"})

<section class="content">
    <div class="card">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-6">
                        <label asp-for="PersonId" class="control-label"></label>
                        <select asp-for="PersonId" class="form-control select2bs4 select2-hidden-accessible" asp-items=ViewBag.PersonCpf></select>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="PropertiesId" class="control-label"></label>
                        <select asp-for="PropertiesId" class="form-control select2bs4 select2-hidden-accessible"  asp-items=ViewBag.BookId></select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label asp-for="RentalDate" class="control-label"></label>
                        <div class="input-group date" id="RentalDate" data-target-input="nearest">
                            <input asp-for="RentalDate" type="text" class="form-control datetimepicker-input" data-target="#RentalDate">
                            <div class="input-group-append" data-target="#RentalDate" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                            <span asp-validation-for="RentalDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="RentReturnDate" class="control-label"></label>
                        <div class="input-group date" id="RentReturnDate" data-target-input="nearest">
                            <input asp-for="RentReturnDate" type="text" class="form-control datetimepicker-input" data-target="#RentReturnDate">
                            <div class="input-group-append" data-target="#RentReturnDate" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                            <span asp-validation-for="RentReturnDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label asp-for="RentRealReturnDate" class="control-label"></label>
                    <div class="input-group date" id="RentRealReturnDate" data-target-input="nearest">
                        <input asp-for="RentRealReturnDate" type="text" class="form-control datetimepicker-input" data-target="#RentRealReturnDate">
                        <span asp-validation-for="RentRealReturnDate" class="text-danger"></span>
                        <div class="input-group-append" data-target="#RentRealReturnDate" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <div class="btn-group">
                    <input type="submit" value="Create" class="btn bg-gradient-primary" />
                    @await Component.InvokeAsync("Form", new { formType = "Button", className = "btn bg-gradient-secondary", action ="Index", functionName = "Back to List"})
                </div>
            </div>
        </form>
        <!-- /.card-footer-->
    </div>
</section>

@section Scripts {
  @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    <!-- Select2 -->
    <script src="../../plugins/select2/js/select2.full.min.js"></script>
    <!-- date-range-picker -->
    <script src="../../plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="../../plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- InputMask -->
    <script src="../../plugins/moment/moment.min.js"></script>
    <script src="../../plugins/inputmask/jquery.inputmask.min.js"></script>
    <script src="~/js/select.js"></script>
    <script src="~/js/datetime.js"></script>
}
}
